body{
    display: flex;
/*     align-items: center;
    justify-content: center; */
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #c4c4c4;
    margin-bottom: 7%;
}

ul { /* Remove os marcadores da lista */
    display: flex;
}

ul li {
    list-style-type: none;
    margin: 0 5vh;
    transition: transform 0.3s ease-in-out;
}

ul a {
    text-decoration: none; /* Remove o sublinhado dos links */
    color: #000; /* Cor do texto dos links */
}

ul li:hover{
    transform: scale(1.15);
}

h4{
    margin-right: 6vh;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-content: center;
    margin: 0;
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    background-color: rgb(194, 194, 194);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Sombra mais escura */
}

.imagem{
    width: 90%;
    height: 40vh;
}

.lado-esquerdo{
    display:flex;
    flex-direction:column ;
    align-items:center;
    padding: 10px;
    height: 100%;
    width: 600px;
}
.lado-direito{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center ;
}

.lado-direito .descricao{
    max-width: 250px;
    white-space: normal; /* Permite a quebra de linha automática */
    word-wrap: break-word; /* Quebra palavras muito grandes, se necessário */
}

input{
    width: 8vh;
}

h1{
    text-align: center;
}

form{
    margin: 16px 0;
}

form button{
    margin-right: 10px;
    margin-bottom: 5px;
}

form span{
    color: red;
}

@media(max-width:910px){
    .imagem{
        width: 88%;
        height: 35vh;
    }

    .lado-esquerdo{
        width:500px;
    }
    
    .lado-esquerdo h1{
        margin:15px 0;
    }
}

@media(max-width:800px){
    .imagem{
        width:86%;
        height:30vh;
    }

    .lado-esquerdo{
        width:400px;
    }
}

@media(max-width:700px){

    .imagem{
        width:90%;
        height:28vh;
    }
    
    .container{
        flex-direction:column;
    }

    .lado-esquerdo{
        padding:0;
    }
    
    .lado-direito{
        margin-bottom:20px;
    }
    
    .lado-direito p{
        margin:12px;
    }

    form{
        margin:12px;
    }

    .btn-back{
        bottom: 7%; /* Ajuste a posição vertical conforme necessário */
        right: 30%; /* Ajuste a posição horizontal conforme necessário */
    }
}

@media(max-width:450px){
    .imagem{
        width:90%;
        height:20vh;
    }

    .lado-esquerdo{
        width:350px;
    }
}

@media(max-width:380px){
    

    .lado-esquerdo{
        width:300px;
    }
}