body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    height: 100vh;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #c4c4c4;
}

ul { /* Remove os marcadores da lista */
    display: flex;
}

ul li {
    list-style-type: none;
    margin: 0 5vh;
    transition: transform 0.3s ease-in-out;
}

ul a {
    text-decoration: none; /* Remove o sublinhado dos links */
    color: #000; /* Cor do texto dos links */
}

ul li:hover{
    transform: scale(1.15);
}

h4{
    margin-right: 6vh;
}

.list{
    display: flex;

}

div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

thead{
    background-color: #e9dede;
    height: 2vh;
}

img{
    margin-left: 3%;
    width: 20px;
}
td{
    background-color: #d3b7b7;
}

@media (max-width: 700px) {
    h4{
        font-size:smaller ;
    }

    ul a {
        font-size:smaller;
    }

    ul li{
        margin: 0 4vh;
    }
}

@media (max-width: 650px) {

    ul li{
        margin: 0 3vh;
    }
    
}

@media (max-width: 550px) {

    ul{
        padding-left:20px;
    }
    
    ul li{
        margin: 0 1.5vh;
    }

    td{
        font-size:small ;
    }
    
}

@media (max-width: 450px) {

    ul{
        padding-left:10px;
    }
    
    ul li{
        margin: 0 0.7vh;
    }

    td{
        font-size:small ;
    }
    
}

@media (max-width:360px){
    h4{
        margin-right:10px;
    }
    ul a{
        font-size:x-small ;
    }
    ul li{
        margin:0 1.3vh;
    }
}